body{
    margin: 0 auto;
    font-family:'Nunito', sans-serif;
}

.container{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

#logo{
    width: 325px;
    height: 105px;
    margin: 150px 0px 20px 0px;
}

#input{
    width: 525px;
    height:35px;
    border-radius: 18px;
    border: solid rgb(0, 0, 0, .1) .5px;
    padding-left:10px;
}

#input:focus{
    outline: none;
    border-color: #dfdddd;
    box-shadow: 0 0 5px #dfdddd;
}

ul.nav-list{
    overflow:hidden;
    list-style:none;
    padding:0;
    position:relative;
    width:100%;
    line-height:30px;
    font-size: 14px;
}

li {
    margin:0 15px;
   }

li.left {
    float:left;
}
   
li.right {
    float:right;
}
   
a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

a:hover{
    text-decoration: underline;
}

a:focus{
    text-decoration: underline;
}

.head-img{
    height:30px;
    width:30px;
}

#avatar{
    border-radius:100%;
}

button {
    border: none;
    border-radius: 5px;
    background: #f2f2f2;
    height: 35px;
    width:125px;
    margin: 35px 0px 0px 0px;
}

button:focus {
    outline: none;
}

.footer{
    width: 100%;
    position: absolute;
    bottom:0px;
}

#footer{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    margin:0 auto;
    line-height:40px !important;
}

#footer li{
    margin:0px 15px 0px 15px;
}