body{
    margin: 0 auto;
}

.container{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}
#logo{
    width: 325px;
    height: 105px;
    margin: 200px 0px 30px 0px;
}

#input{
    width: 525px;
    height:35px;
    border-radius: 18px;
    border: solid rgb(0, 0, 0, .3) .5px;
}

#input:focus{
    outline: none;
    border-color: #c0c3c5;
    box-shadow: 0 0 5px #c0c3c5;
}

ul.nav-list{
    overflow:hidden;
    list-style:none;
    padding:0;
    position:relative;
    width:100%; /* FOR a static width like Posh CSS */
    margin:0 auto;
}

li {
    margin:0 10px; /* Gap between LI elements 20px */
   }

li.left {
    float:left;
}
   
li.right {
    float:right;
}
   
a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

a:hover{
    text-decoration: underline;
}
a:focus{
    text-decoration: underline;
}

button {
    border:none;
    border-radius:5px;
    background: #e5e9eb;
    height: 35px;
}
.footer{
    line-height:40px;
    width: 100%;
    position: absolute;
    bottom:0px;
}
#footer{
    background: #e1e3e4;
    border-top: 1px solid #cecece;
}